@{
    ViewBag.Title = "about";
}

<h1>About</h1>
@*<p>
        I do not know what I am supposed to do here. aaaarrrrrggggggggg------
    </p>*@

<p>
    Provided by Zhengqi Cai for CSE 686.
</p>
<p>
    Email:zhengqi_cai@outlook.com
</p>

@*<a asp-action="Index">Back to List</a>*@


