@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
<div>
    @*<form method="post" asp-controller="Account" asp-action="Logout">
            @User.Identity.Name
            <input type="submit" value="Logout" class="navbar-btn btn btn-danger" />
        </form>*@
    <form method="post" asp-controller="Account" asp-action="LogOut">
        <input id="logout" type=submit value="Logout" style="float:right"/>

    </form>
    <a style="float:right">@User.Identity.Name</a>

</div>
}
else
{
    <a style="float:right" asp-controller="Account" asp-action="Login">Login</a>
    <a style="float:right" asp-controller="Account" asp-action="Register">Register</a>
}